.jqslider {
  height: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.jqslider > div {
  height: 1px;
  background: #578c97;
  top: 21.333333333333332px;
  position: relative;
}
.jqslider > div > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.jqslider > div > ul > li {
  position: absolute;
  z-index: 0;
  height: 10px;
  width: 5px;
  color: #222;
  margin: -5px 0 0 -2.5px;
  background-color: #578c97;
  cursor: pointer;
}
.jqslider > div > ul > li:before {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  content: attr(data-label);
  font-size: 12px;
  text-align: center;
  height: 18px;
  top: -17px;
  width: 50px;
  margin-left: -25px;
  pointer-events: none;
}
.jqslider > div > ul > li:hover {
  background-color: #325056;
}
.jqslider > div .handler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 30%;
  background: #004756;
  cursor: pointer;
  -webkit-transition: left .2s ease;
  -moz-transition: left .2s ease;
  -ms-transition: left .2s ease;
  transition: left .2s ease;
}
.jqslider > div .handler:hover {
  background-color: #001d23;
}
body.jqslider-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body.jqslider-dragging .jqslider > div .handler {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
}
